body {
  font-family: "Calibri", "Times New Roman", Times, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
#content {
  padding-bottom: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 6vw 0;
  margin: 0 auto 15px auto;
}
th, td {
  padding: 0;
}

nav {
  background-color: #eee;
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
}

nav ul {
  margin-bottom: 0;
}

nav h2 {
  margin-top: 0;
}

a {
  color: #0024b5;
  text-decoration: none;
}

a:focus,a:hover {
  color: #2a6496;
  text-decoration: underline;
}

pre {
  white-space: pre-wrap;
  background-color: #f8f8f8;
  border-radius: 5px;
}
